/build/
behat-coverage.yml
phpspec-coverage.yml
/composer.lock
/composer.phar
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/fixtures/public/bundles/
/fixtures/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

###> lexik/jwt-authentication-bundle ###
/fixtures/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
