language: php

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm

.steps:
  - &setup-github-token |
    composer config -g github-oauth.github.com ${GITHUB_API_TOKEN}

  - &disable-php-memory-limit |
    echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - &disable-xdebug-php-extension |
    phpenv config-rm xdebug.ini || echo "xdebug not available"
  - &update-project-dependencies |
    composer update --prefer-dist --no-progress --no-suggest --ansi
  - &update-project-low-dependencies |
    composer update --prefer-dist --no-progress --no-suggest --prefer-stable --prefer-lowest --ansi
jobs:
  include:
    - php: '7.2'
    - php: '7.2'
      env: deps=low
      install: *update-project-low-dependencies
    - php: '7.3'
    - php: '7.3'
      env: deps=low
      install: *update-project-low-dependencies
    - php: '7.3'
      env: COVERAGE=yes
  allow_failures:
    - env: COVERAGE=yes
    - env: deps=low
  fast_finish: true

before_install:
  - *disable-php-memory-limit
  - *disable-xdebug-php-extension
  - *setup-github-token

install:
  - *update-project-dependencies

before_script:
  - composer prepare-orm
script:
  - composer test

after_script:
  # process coverage
  - 'if [[ $COVERAGE = yes ]]; then
        composer require php-coveralls/php-coveralls --no-scripts;
        travis_retry vendor/bin/php-coveralls -vvv;
        wget https://scrutinizer-ci.com/ocular.phar;
        travis_retry php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml;
    fi'
