language: php

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm

jobs:
  include:
    - php: '7.2'
    - php: '7.3'
    - php: '7.3'
      env: COVERAGE=yes
  allow_failures:
    - env: COVERAGE=yes

before_install:
  - if [[ $COVERAGE != yes ]]; then phpenv config-rm xdebug.ini || echo "xdebug not available"; fi;
  - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

install:
  - composer install --prefer-dist --ansi

script:
  - composer test

after_script:
  # process coverage
  - 'if [[ $COVERAGE = yes ]]; then
        composer require php-coveralls/php-coveralls --no-scripts;
        travis_retry vendor/bin/php-coveralls -vvv;
        wget https://scrutinizer-ci.com/ocular.phar;
        travis_retry php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml;
    fi'
