default:
    formatters:
        progress: true

    suites:
        default:
            contexts:
                - Doyo\UserBundle\Behat\Contexts\FeatureContext:
                    kernel: '@kernel'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
